@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  :focus-visible {
    @apply outline-2 outline-offset-2 outline-accent;
  }
}

.leaflet-container {
  font-family: inherit;
  height: 100%;
  width: 100%;
}

.bestie-selected-pin {
  background: transparent !important;
  border: none !important;
}
